/* reset  */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* typo */
body, button, input {
    font-family: 'Lato', sans-serif;
    font-size: .9rem;
}

h6 {
    font-size: .9rem;
    font-weight: 500;
}

.text--sm {
    font-size: .7rem;
    color: var(--grey-100);
    margin-top: .2rem;
}
/* button */
button {
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    padding: 0 8px;
    cursor: pointer;
}

/* common */
:root {
    --grey-100: #6b7376;
    --grey-200: #b1b1b1;
    --grey-300: #dbdbd2;
    --grey-400: #d7dbd6;
    --grey-500: #e9ebeb;
    --grey-700: #eaeaea;
    --grey-800: #fafafa;
    --green-100: #009688;
    --green-600: #d5f9ba;
    --white: #f3eeea;
    --blue-700: #8edafc;
}

body {
    height: 100vh;
    background: var(--grey-400);
    background: linear-gradient(180deg, var(--green-100) 17%, var(--grey-400) 17%);
    padding: 20px 0;
}

.container {
    display: grid;
    grid-template-columns: 40% auto;
    height: 100%;
    width: 85%;
    margin: auto;
    background-color: #fff;
}

ul {
    list-style: none;
}

a {
    cursor: pointer;
}

.text-decoration--none {
    text-decoration: none;
    color: #000;
}

input {
    border: none;
    font-size: .8rem;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    background-color: var(--grey-700);
    padding: 8px;
}

.circle--container {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 15px;
    background-color: #fff;
    flex-shrink: 0;
    padding: 0;
}

.circle--container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.align--center {
    display: flex;
    align-items: center;
}

.icon--large {
    font-size: 1.2rem;
    text-align: center;
}

/* sidebar */
.sidebar {
    height: calc(100vh - 40px);
    border-right: 1px solid #d6d6d6;
    display: flex;
    flex-direction: column;
}

.sidebar .btn {
    color: var(--grey-200);
}

.sidebar__desk-alert {
    background-color: var(--blue-700);
    padding: 8px 20px;
}

.sidebar__contacts {
    flex-grow: 1;
}

.icon-bell {
    background-color: #fff;
    color: var(--blue-700);
    line-height: 50px;
}

.sidebar__search-bar {
    background-color: var(--grey-800);
    padding: 8px;
}

.search-bar__bar {
    display: grid;
    grid-template-columns: 70px auto;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid var(--grey-700);
}

.search-bar__bar input {
    border: none;
    border-left: 1px solid var(--grey-700);
    padding: 8px;
}

.sidebar__contacts {
    overflow-y: auto;
}

.sidebar__contacts li {
    display: flex;
    padding: 8px 20px;
    border-bottom: 1px solid var(--grey-700);
    cursor: pointer;
}

.sidebar__contacts li:hover {
    background-color: var(--grey-500);
}

/* main */
main {
    height: calc(100vh - 40px);
    display: flex;
    flex-direction: column;
}

main button {
    color: var(--grey-200);
}

.chat__chat-window {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
    padding: 50px 100px 0 100px;
    background-image: url(../img/mine.jpg);
}

.desk-alert__text {
    display: flex;
    flex-direction: column;
}

.message {
    max-width: 40%;
    padding: .8rem .3rem .3rem .8rem;
    margin: .3rem;
    border-radius: 10px;
    font-size: .8rem;
    word-wrap: break-word;
}

.sent {
    align-self: flex-end;
    background-color: var(--green-600);
}

.message__text {
    margin-right: .8rem;
}

.received {
    align-self: flex-start;
    background-color: #fff;
}

.message__date {
    text-align: right;
    font-size: .65rem;
    color: var(--grey-200);
    margin-top: .3rem;
}

.chat__bottom-bar {
    display: grid;
    grid-template-columns: 70px auto 70px;
    background-color: var(--white);
    padding: 8px
}

.bottom-bar__type-input {
    border-radius: 5px;
    height: 40px;
    padding: 8px;
}