<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Lato_GoogleFont -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
        <!-- /Lato_GoogleFont -->
        <!-- FontAwesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <!-- FontAwesome -->
        <link rel="stylesheet" href="css/style.css">
        <title>Vue Boolzapp</title>
    </head>
    <body>
        <div class="container" id="root">  
            <div class="sidebar">
                <!-- sidebar__user -->
                <div class="sidebar__user top-bar">
                    <!-- user__profile -->
                    <div class="user__profile align--center">
                        <button class="profile__img circle--container">
                            <img src="img/avatar_io.jpg" alt="user-profile_img">
                        </button>
                        <a href="#" class="profile__name text-decoration--none">Nome Utente</a>
                    </div>
                    <!-- /user__profile -->
                    <!-- user__btn -->
                    <div class="user__btn align--center">
                        <button class="btn">
                            <i class="fas fa-circle-notch"></i>
                        </button>
                        <button class="btn">
                            <i class="fas fa-comment-alt"></i>
                        </button>
                        <button class="btn">
                            <i class="fas fa-ellipsis-v"></i>
                        </button>
                    </div>
                    <!-- /user__btn -->
                </div>
                <!-- /sidebar__user -->
                <!-- sidebar__desk-alert -->
                <div class="sidebar__desk-alert align--center">
                    <div class="circle--container icon-bell icon--large">
                        <i class="fas fa-bell-slash"></i>
                    </div>
                    <div class="desk-alert__text">
                        <h6>Ricevi notifiche di nuovi messaggi</h6>
                        <a class="text--sm" href="#">Attiva notifiche desktop</a>
                    </div>
                </div>
                <!-- /sidebar__desk-alert -->
                <!-- sidebar__search-bar -->
                <div class="sidebar__search-bar">
                    <div class="search-bar__bar">
                        <button class="bar__icon btn" @click="searchIn()">
                            <i class="fas fa-search"></i> 
                        </button>
                        <input type="text" placeholder="Cerca o inizia una nuova chat" v-model="searchInput" @keyup.enter="searchIn()">
                    </div>
                </div>
                <!-- /sidebar__search-bar -->
                <!-- sidebar__contacts -->
                <ul class="sidebar__contacts">
                    <li class="contacts__item"
                    v-for="(contact, i) in searchIn()" 
                    :class="i==activeChatIndex ? 'active' : null" 
                    @click="activeChatIndex = i"
                    :key="i">
                        <button class="circle--container">
                            <img v-bind:src="'img/avatar'+ contact.avatar + '.jpg'" :alt="contact.name">
                        </button>
                        <span class="contact-name">{{contact.name}}</span>
                    </li>
                </ul>
                <!-- /sidebar__contacts -->
            </div>    
            <main class="chat">
                <!-- chat__top-bar -->
                <div class="chat__top-bar top-bar">
                    <div class="top-bar__contact align--center">
                        <button class="circle--container">
                            <img v-bind:src="'img/avatar'+ contacts[activeChatIndex].avatar + '.jpg'" alt="">
                        </button>
                        <div class="desk-alert__text">
                            <a href="#" class="text-decoration--none">{{contacts[activeChatIndex].name}}</a>
                            <span class="text--sm">Ultimo accesso oggi alle</span>
                        </div>
                    </div>
                    <div class="top-bar__btn align--center">
                        <button class="btn">
                            <i class="fas fa-search"></i> 
                        </button>
                        <button class="btn">
                            <i class="fas fa-paperclip"></i>
                        </button>
                        <button class="btn">
                            <i class="fas fa-ellipsis-v"></i>
                        </button>
                    </div>
                </div>
                <!-- /chat__top-bar -->
                <!-- chat__chat-window -->
                <div class="chat__chat-window" :key="componentKey">
                    <div class="message" 
                    :class="message.status" 
                    v-for="(message, msgIndex) in contacts[activeChatIndex].messages"
                    @click="message.menu == 'hide' ? message.menu = 'show' : message.menu = 'hide'; forceRerender()"
                    :key="msgIndex">
                        <div class="message__text">
                            {{message.message}}
                        </div>
                        <div class="message__date">
                            {{message.date}}
                        </div>
                        <div class="message__pop-up" :class="message.menu">
                            <button class="btn message__pop-up__btn">
                                Info messaggio
                            </button>
                            <button class="btn message__pop-up__btn" @click="deleteMsg(msgIndex)">
                                cancella messaggio
                            </button>
                        </div>
                    </div>
                </div>
                <!-- /chat__chat-window -->
                <!-- chat__bottom-bar -->
                <div class="chat__bottom-bar align--center">
                    <button class="btn icon--large">
                        <i class="far fa-smile"></i>
                    </button>
                    <textarea class="bottom-bar__type-input" v-model="typedMsg" placeholder="Scrivi un messaggio" @keyup.enter="assignInputValue()"></textarea>
                    <button class="btn icon--large">
                        <i class="fas fa-microphone"></i>
                    </button>
                </div>
                <!-- /chat__bottom-bar -->
            </main>
        </div>
        <!-- vue -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
        <!-- /vue -->
        <script src="js/main.js"></script>
    </body>
</html>